.animationContainer {
    display: flex;
      flex-direction: column;
      align-self: flex-end;
      
   }
   @media screen and (max-width: 550px ) {
   
    .animationContainer{
  
      margin-top:100vh;
    }
  }    