.malithebrand__product-offerings{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 150px;
    margin-bottom: 0;
    font-family:FoundersGrotesk-light;
    
}
.malithebrand__product-categories{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.malithebrand__product-heading h1{
display: flex;
justify-content: center;
margin: 3rem;
font-family: canela;
margin-top: 0;
text-align: center;
}
.malithebrand__product-offerings_brand-identity-card,
.malithebrand__product-offerings_ui-ux-card,
.malithebrand__product-offerings_web-dev-card
{
    background: red;
    height: 5em;
    width: 5em;
    border-radius: 100%;
    padding: 150px;
    margin: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.malithebrand__product-offerings_brand-identity p,
.malithebrand__product-offerings_ui-ux p,
.malithebrand__product-offerings_web-dev p
{
    letter-spacing: 0;
    font-size: 25px;
    margin: 20px;
    margin-bottom: 50px;
    
}
.brand-icon{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1350px) {
    .malithebrand__product-offerings{
        flex-direction: column;
        align-items: center;

    }
    .malithebrand__product-categories{
        flex-direction: column;
    }
}
@media screen and (max-width: 280px){
   
}