.brands__container{
    height: 5rem;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    
    
    
}
.brand{
 margin: 4rem;


}

img{
  
  width: 100%;
  min-width: 80px;
    
}
@media (max-width: 1350px){
   
     .brands__container{
       
         
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
        
     }
     img{
        width: 60px ;
     }
     
}
@media (max-width: 280px){

    .brand{
        margin: 7rem;
       
       
       }
}