.brands__container{
   
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8rem;
   
   
    
    
}
.brand{
 margin: 4rem;


}

img{
  
  width: 100%;
  min-width: 80px;
    
}
@media screen and (max-width: 1350px){
   
     .brands__container{
       
         
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         
     }
     img{
        width: 20px ;
     }
     
}
@media screen and (max-width: 600px){
   .brands__container{
    margin-bottom: 10em;
   }
}
@media scree and (max-width: 280px){

    .brand{
        margin: 7rem;
       
       
       }
}