.brands__container{
    transform: translateY(100px);
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8rem;  
    margin-top: 0;
    margin-bottom: 0;
    background: #E3DFD6;
    border-radius: 30px;
    max-width: 100vw;
    
}
.brands__container.slide{
    transform: translateX(0);
    opacity: 1;
   
}
.brand{
 margin: 4rem;
 filter: invert(2);

}

img{
  
  width: 100%;
  min-width: 80px;
    
}
@media screen and (max-width: 1350px){
   
     .brands__container{
       
         
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         
     }
     img{
        width: 20px ;
     }
     
}
@media screen and (max-width: 600px){
   .brands__container{
    margin-bottom: 10em;
    background: none;
    filter: invert(1);
   }
}
@media scree and (max-width: 280px){

    .brand{
        margin: 7rem;
       
       
       }
}