
.about__content{
    background:  url(../../assets/images/maliweb@0.33x.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
 
    justify-content: center;
  padding: 2rem;
 
}


.about__text{

    

    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
  
  
    
    
}
.aboutName{
    font-family: canela;
    font-size: 30px;
   

}

.about-title{
    font-family: FoundersGrotesk-light;
    padding: 0;
    text-align: left;
    font-size: 15px;
    
}
.aboutImage{
    display: flex;
   transform: scale(0.8);
   justify-self: flex-start;
   
}
.about-intro{
    letter-spacing: 0;
    text-align: left;
    border-top: 1px solid white;
    padding: 1rem;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 20px;
 
}

@media (min-width: 1350px){
    .about__content{
        margin-bottom: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       padding: 15rem;
    }
    .about__text{
        width: 80%;
    }
    .aboutName{
        font-size: 50px;
    }
}
@media (max-width: 300px){
    .about__content{
        margin-bottom: 0;
    }
    .aboutName{
        font-size: 20px;
    }
}
