.swipe-container{
    background: #1e241c url(../../assets/images/wave2@3x-8.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 20px solid #1e241c;
    border-bottom: 20px solid #1e241c;
   
 
}

.swiper {
    width: 240px;
    height: 320px;
    
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
  flex-direction: column;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
.swiper-text {
 font-size: 12px;
  text-align: left;
  padding: 2rem;
  font-family: FoundersGrotesk-light;
}

  .swiper-img, .a{
    height: 5rem;
    width: 5rem;
    background: url(../../assets/images/karis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  
  }
  .b{
    height: 5rem;
    width: 5rem;
    background: url(../../assets/images/sesmo.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  .c{
    height: 5rem;
    width: 5rem;
    background: url(../../assets/images/church.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  .d{
    height: 5rem;
    width: 5rem;
    background: url(../../assets/images/drakare.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }
  