
.malithebrand__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  margin-bottom: 0;
  margin-top: 2rem;

  
}


.malithebrand__header-title h1 {
 font-family: Canela;
 font-size: 15rem;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 30px;
    font-size: 15px;
    text-align: center;
}
.malithebrand__button{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.malithebrand__button button{
 border: 1px solid #E3DFD6;
 background: none;
 color: #E3DFD6;
 padding: 1rem;
border-radius: 100%;
padding-left: 30px;
padding-right: 30px;
margin: 1rem;
font-size: 20px;
cursor: pointer;
}

@media screen and (max-width: 950px) {
    .malithebrand__header-title h1 {
        
        font-size: 5rem;
       
       }
       p{
        font-size: 9px;
        letter-spacing: 6px;
    }
}
@media screen and (max-width: 350px) {
    .malithebrand__header-title h1 {
        
        font-size: 3rem;
       
       }
       p{
           font-size: 5px;
           letter-spacing: 4px;
       }
}