.cursor{
    background-color: rgba(255, 255, 255, 0.67);
    border: 1px solid rgb(255, 255, 255);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
  }
.malithebrand__header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
  
}


.malithebrand__header-title h1 {
 font-family: Canela;
 font-size: 15rem;
 text-align: center;
 position: relative;
 margin-bottom: 2rem;
}
.malithebrand__header-name {
    margin: 5rem;
}
p{
    font-family:FoundersGrotesk-light;
    letter-spacing: 30px;
    font-size: 15px;
    text-align: center;
}
.malithebrand__button{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
 button{
 border: 1px solid #E3DFD6;
 background: none;
 color: #E3DFD6;
 padding: 1rem;
border-radius: 6em;
padding-left: 30px;
padding-right: 30px;
font-size: 20px;
cursor: pointer;
transition-duration: 1s;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
}
 button:hover{
    padding-left: 35px;
    padding-right: 35px;
    color: #fffbf2;
}
@media screen and (max-width: 1350px)  {
    .malithebrand__header-title h1{
        font-size: 5rem;
    }
    p{
        font-size: 10px;
        letter-spacing: 16px;
    }
}
@media screen and (max-width: 950px) {
    .malithebrand__header-container {
        margin-top: 0;
    }
    .malithebrand__header-title h1 {
        
        font-size: 5rem;
       
       }
       p{
        font-size: 9px;
        letter-spacing: 10px;
    }
    .malithebrand__button{
        display: flex;
        justify-content: center;
       
    }
}
@media screen and (max-width: 460px) {
    .malithebrand__header-title h1 {
        
        font-size: 3rem;
       
       }
       p{
        font-size: 9px;
        letter-spacing: 5px;
    }
}
@media screen and (max-width: 350px) {
    .malithebrand__header-title h1 {
        
        font-size: 3rem;
       
       }
       p{
           font-size: 5px;
           letter-spacing: 4px;
       }
       .malithebrand__button{
        display: flex;
        justify-content: center;
        
    }
}