
.malithebrand__header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
  
}


.malithebrand__header-title h1 {
 font-family: Canela;
 font-size: 15rem;
 text-align: center;
 
}
.malithebrand__header-name {
    margin: 5rem;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 30px;
    font-size: 15px;
    text-align: center;
}
.malithebrand__button{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.malithebrand__button button{
 border: 1px solid #E3DFD6;
 background: none;
 color: #E3DFD6;
 padding: 1rem;
border-radius: 100%;
padding-left: 30px;
padding-right: 30px;
font-size: 20px;
cursor: pointer;
}

@media screen and (max-width: 950px) {
    .malithebrand__header-container {
        margin-top: 0;
    }
    .malithebrand__header-title h1 {
        
        font-size: 5rem;
       
       }
       p{
        font-size: 9px;
        letter-spacing: 6px;
    }
    .malithebrand__button{
        display: flex;
        justify-content: center;
       
    }
}
@media screen and (max-width: 350px) {
    .malithebrand__header-title h1 {
        
        font-size: 3rem;
       
       }
       p{
           font-size: 5px;
           letter-spacing: 4px;
       }
       .malithebrand__button{
        display: flex;
        justify-content: center;
        
    }
}