.footer-container{
    border-top: 0.5px solid white;
    background: #1e241c;
}

.footer-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
   
}
.footerText{
    margin-bottom: 5rem;
    margin-top: 5rem;
}